{% extends 'store/base.html' %}
{% load static %}
    {% block content %}

    <h3>Hi abdelrhamn welcome to your cart</h3>
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a href="{% url 'store' %}">continue shoping</a>
                <br>
                <br>
                <table class="table">
                    <tr>
                        <th><h5>Items: <b>10</b> </h5></th>
                        <th><h5>Total: <b>43</b> </h5></th>
                        
                    </tr>
                </table>
            </div>
            <br>
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex: 2;"></div>
                    <div style="flex: 2;"> <b> Book</b></div>
                    <div style="flex: 1;"> <b> Price</b></div>
                    <div style="flex: 1;"> <b> quantity</b></div>
                    <div style="flex: 1;"> <b> Total</b></div>
                    
                </div>
                <div class="cart-row">
                    <div style="flex: 2;">here is the img</div>
                    <div style="flex: 2;">smile u died</div>
                    <div style="flex: 1;">20</div>
                    <div style="flex: 1;">3</div>
                    <div style="flex: 1;">60</div>
                    
                </div>


            </div>
        </div>
    </div>
{% endblock content %}