{% extends 'store/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    {% for book in booksperpage %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{book.imageURL}}" alt="">
        <div class="box-element product">
            <h6><b>{{book.title}}</b></h6>
            <hr>
            {% if user.is_authenticated %}
            <button data-book="{{book.id}}" data-action="add" class="btn btn-success update-cart">Buy Now</button>
            {% else %}
            <button disabled="True" class="btn btn-info ">Buy Now</button>
            {% endif%}
            <p>{{book.describtion}}</p>
            <h4 style="display: inline-block;
        ">{{book.price}} EGP</h4>
        </div>
    </div>
    {% endfor %}
    {% if booksperpage.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{booksperpage.pervious_page_number}}}">Previous</a>
{% endif %}
Page {{booksperpage.number}} of {{booksperpage.paginator.num_pages}}
{% if booksperpage.has_next %}
<a href="?page={{booksperpage.next_page_number}}">next</a>
<a href="?page={{booksperpage.paginator.num_pages}}">Last</a>
{% endif %}
</div>
</div>
{% endblock content %}