{% extends 'store/base.html' %}
{% load static %}
    {% block content %}
<div class="row">
    <div class="col-lg-4">
        <img class="thumbnail" src="" alt="">
         <div class="box-element product">
                <h6><b>Book</b></h6>
                <hr>
                <button class="btn btn-success">Buy Now</button>
                <a href="#" class="btn btn-outline-info">View</a>
         <h4 style="display: inline-block;
        float: right;">20$</h4>
            </div>
    </div>
    <div class="col-lg-4">
        <img class="thumbnail" src="" alt="">
         <div class="box-element product">
                <h6><b>Book</b></h6>
                <hr>
                
                <button class="btn btn-success">Buy Now</button>
                <a href="#" class="btn btn-outline-info">View</a>
                <h4 style="display: inline-block;
                float: right;">20$</h4>
                  
            </div>
    </div>
    <div class="col-lg-4">
        <img class="thumbnail" src="" alt="">
         <div class="box-element product">
                <h6><b>Book</b></h6>
                <hr>
                
                <button class="btn btn-success">Buy Now</button>
                <a href="#" class="btn btn-outline-info">View</a>
                <h4 style="display: inline-block;
                float: right;">20$</h4>
                  
         </div>
    </div>
</div>
</div>
{% endblock content %}